@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600&display=swap');

html, body { min-height: 100%; }

html {
	font-size: 62.5%;
	-ms-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
}

body {
	font-size: 1.6rem;
	line-height: 1;
	font-family: 'Montserrat', sans-serif;
	font-weight: 400;
	color: rgba(255, 255, 255, 0.7);
}